SITE_URL=https://dovizarsiv.net
EVDS_API_KEY=
PUBLIC_ADSENSE_ENABLED=false
PUBLIC_ADSENSE_CLIENT=
PUBLIC_ADSENSE_SLOT_PRIMARY=
PUBLIC_ADSENSE_SLOT_SECONDARY=
PUBLIC_ADSENSE_SLOT_SIDEBAR=
PUBLIC_ANALYTICS_ENABLED=false
